---
---

@import "{{ site.theme }}";

code { 
  background-color: #f4f4f4;
  border-radius: 8px;
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.1em 0.2em;
}

body {
  background-color: #fafdfe;
}

section {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
